<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{stop["stop_name"]}} - {{route["route_short_name"]}}</title>
  </head>
  <body>
    {% for stop_id in stop_times_by_stop_id %}
    <h1>{{stop_id}}</h1>
      <ul>
        {% for stop_time in stop_times_by_stop_id[stop_id] %}
            <li>
              {{stop_time['departure_str']}}
              {% if stop_time['scheduled_departure'] is not none %}
                ({{stop_time['departure_delta']}})
              {% endif %}
            </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </body>
</html>